@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container text-center">
    <h1 class="display-4">Bine ați venit la restaurantul nostru!</h1>
    <p class="lead">Bucurați-vă de o călătorie culinară cu preparate rafinate și arome unice.</p>
    <img src="~/images/restaurant-photo.jpg" alt="Interior Restaurant" class="img-fluid featured-image">
</div>

