@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit la restaurantul nostru! </h1>
    <p>Bucurați-vă de o călătorie culinară cu preparate rafinate și arome.</p>
   @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/images/restaurant-photo.jpg" alt="Restaurant Interior" class="img-fluid my-3">
</div>
<style>
    .text-center {
        background-color: #f5f5f5;
        padding: 40px;
    }

    .display-4 {
        color: #3c3b3b;
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
        color: #555;
    }

    img {
        max-height: 300px;
        border-radius: 10px;
    }
</style>
